<!DOCTYPE html>
<html>

<head>
	<title>XtockS</title>
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
	<link rel="manifest" href="/site.webmanifest">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="HandheldFriendly" content="true" "width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
	<meta property="og:site_name" content="XtockS">
	<meta property="og:url" content="https://xtocks.herokuapp.com">
	<meta property="og:title" content="StockX Clone">
	<meta property="og:description"
		content="A custom platform for buying, selling, and trading sneakers. Inspired by StockX.">
	<meta property="og:type" content="website">
	<meta name="og:image" itemprop="image"
		content="https://lh3.googleusercontent.com/9xb18Phr4gj4K4MhtVPnTV-MIE-YS-5VANmr1spilwyVi-smfZ_OuYOrt8oCx44XGQ">
	<meta name="theme-color" content="#08A05C">
	<meta name="twitter:title" content="XtockS">
	<meta name="twitter:description"
		content="A custom platform for buying, selling, and trading sneakers. Inspired by StockX.">
	<meta name="twitter:image"
		content="https://lh3.googleusercontent.com/9xb18Phr4gj4K4MhtVPnTV-MIE-YS-5VANmr1spilwyVi-smfZ_OuYOrt8oCx44XGQ">
	<meta name="twitter:image:alt" content="XtockS Website Preview">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css" />
	<link rel="stylesheet" href="/styles/mdb.min.css" />
	<link rel="stylesheet" href="/styles/main.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" />
	<script src="https://checkout.stripe.com/checkout.js" defer></script>
	<script src="/js/purchase.js" defer></script>
</head>

<body>
	<header style="margin-bottom:90px;">
		<nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
			<div class="container">
				<a class="navbar-brand" href="/">
					<Strong style="color:white;padding-top:.5%;padding-bottom:.5%;">XtockS</Strong>
				</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarExample01"
					aria-controls="navbarExample01" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarExample01">
					<ul class="navbar-nav mr-auto mb-2 mb-lg-0">
					</ul>
					<ul class="navbar-nav list-inline">
						<% if (!currentUser) { %>
						<li class=""><a class="nav-link" href="/feed"
								style="font-size:17px;color:white;padding-top:.5%;padding-bottom:.5%;">Feed</a></li>
						<li class="nav-item"><a class="nav-link" href="/login"
								style="font-size:17px;color:white;padding-top:.5%;padding-bottom:.5%;">Login</a></li>
						<li class="nav-item"><a class="nav-link" href="/register"
								style="font-size:17px;color:white;padding-top:.5%;padding-bottom:.5%;">Sign Up</a></li>
						<% } else { %>
						<li class=""><a class="nav-link" href="#"
								style="font-size:17px;color:white;padding-top:.5%;padding-bottom:.5%;">Signed In As
								<%=currentUser.username%></a></li>
						<li class="nav-item"><a class="nav-link" href="/feed"
								style="font-size:17px;color:white;padding-top:.5%;padding-bottom:.5%;">Feed</a></li>
						<li class="nav-item"><a class="nav-link" href="/logout"
								style="font-size:17px;color:white;padding-top:.5%;padding-bottom:.5%;">Logout</a></li>
						<% } %>
					</ul>
				</div>
			</div>
		</nav>
	</header>

	<% if (error && error.length > 0){ %>
	<div class="container">
		<div class="alert alert-danger" role="alert" style="text-align: center;">
			<%= error %>
		</div>
	</div>
	<% } %>
	<% if (success && success.length > 0){ %>
	<div class="container">
		<div class="alert alert-success" role="alert" style="text-align: center;">
			<%= success %>
		</div>
	</div>
	<% } %>