<%- include("../partials/header") %>

<div class="container">
	
	<div class="row">
		<h1 style="text-align: center;">Add New Comment To <%= shoe.name %></h1>
		<div style="width: 30%; margin: 25px auto;">
			<form action="/shoes/<%=shoe._id%>/comments" method="POST">
				<div class="form-group">
					<input class="form-control" name="comment[text]" type="text" placeholder="text">
				</div>
				<div class="form-group">
					<button class="btn btn-lg btn-success btn-block">SUBMIT</button>
				</div>
			</form>
			<a href="/shoes">Go back</a>
		</div>
	</div>
</div>

<%- include("../partials/footer") %>