<%- include("../partials/header") %>

<div class="container">
	
	<div class="row">
		<h1 style="text-align: center;">Post a new shoe</h1>
		<div style="width: 30%; margin: 25px auto;">
			<form action="/shoes" method="POST">
				<div class="form-group">
					<input class="form-control" name="name" type="text" placeholder="name">
				</div>
				<div class="form-group">
					<input class="form-control" name="price" type="number" placeholder="price" min="0.01" step="0.01">
				</div>
				<div class="form-group">
					<input class="form-control" name="image" type="text" placeholder = "image url">
				</div>
				<div class="form-group">
					<input class="form-control" name="description" type="text" placeholder = "description">
				</div>
				<div class="form-group">
					<button class="btn btn-lg btn-primary btn-block">SUBMIT</button>
				</div>
			</form>
			<a href="/shoes">Go back</a>
		</div>
	</div>
</div>

<%- include("../partials/footer") %>
